*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(36, 33, 33);
    color: #00a3db;
    line-height: 35px;
    font-size: 21px;
}
.gora{
    height: 48px;
}
.gora>img{
    width: 100%;
    height: 48px;
}
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 67px;
    line-height: normal;
}
header>nav>ul{
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    margin: 21px 0;
}
header>nav>ul>li{
    text-transform: uppercase;
    padding: 0 25px;
    list-style-type: none;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: #00c1ff;
}
header>nav>ul>li>a:hover{
    text-decoration: none;
    color: #d7d7d7;
}
header>a>img{
    padding-left: 50px;
    height:100%;
}
section{
    background-image: url("../tla/sek1rozmyte.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 975px;
}